body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction:row;
    background-color: #9e1a1a;
    
}
    header #logo{
        width: 70%;
        text-align: right;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }

        header #logo img{
            width: 160px;
            margin-top: -15px;
            margin-right: 90px;
        }
        header ul {
            width: 100%;
            list-style-type: none;
            flex-direction:row;
            align-items: center;
            display: flex;
            margin-left: 50%;
            gap: 15%;
        }
            header ul li a{
                color: white;
                text-decoration: none;
                font-size: 140%;
                background-color: #741111;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 30px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            }

            

#cuerpoPrincipal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    margin-top:30px;
}

#usuario {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 10px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

#altaUsuarios{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20%;
    height: auto;
    margin-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

    #formularioAlta{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-bottom: 5%;
        padding-left: 25%;
    }
#usuario h2 {
    margin-top: 0;
}
#tabla {
    flex: 2;
    background-color: #fcfcfc;
    padding: 20px;
    margin-left: 10px;
    border-radius: 18px;
    padding-bottom: 4%;
    padding-top: 4%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

#buscar{
    width: 20%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

.tdmain {
    background-color: #9e1a1a;
    color: #fff;
}
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#formAlumnos{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    width: 50%;
}

input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
    margin: 2px;
    margin-left: 4px;
}

.button{
    background-color: rgb(155, 14, 14);
    color: white;
    padding: 10px 20px;
    border: #ffffff;
    border-radius: 15px;
    margin-left: 3px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.textbox {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
}
