@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    background-color: #9e1a1a;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}
    header h1{
        width: 100%;
        height: 130px;
        color: #ffffff;
    }

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 919px;
    margin-top: -200px;
}

.loginFormulario {
    background-color: #ffffff;
    width: 35%;
    height: 50%;
    text-align: center;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.loginFormulario h2{
    text-align: center;
    margin-bottom: 20px;
}

.loginFormulario h2 img{
    margin-top: -30px;
    margin-bottom: -30px;
    width: 40%;
}

.formularios input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    width: 40%;
    padding: 20px;
    background-color: #9e1a1a;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #501010;
}