body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    background-color: #be9797;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction:row;
    background-color: #9e1a1a;
    
}
    header #logo{
        width: 70%;
        text-align: right;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    }

        header #logo img{
            width: 160px;
            margin-top: -15px;
            margin-right: 90px;
        }
        header ul {
            width: 100%;
            list-style-type: none;
            flex-direction:row;
            align-items: center;
            display: flex;
            margin-left: 50%;
            gap: 15%;
        }
            header ul li a{
                color: white;
                text-decoration: none;
                font-size: 140%;
                background-color: #741111;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 30px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            }

            

#cuerpoPrincipal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 500px;
    margin-top: 60px;
}
#usuario {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    margin-right: 10px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#usuario h2 {
    margin-top: 0;
}
#tabla {
    flex: 2;
    background-color: #f0f0f0;
    padding: 20px;
    margin-left: 10px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
th {
    background-color: #7a1818;
    color: #fff;
}
